<h1>The Isrealites</h1>

<p><h3>Your Hero's Name is $newHero.getName()</h3></p>
<p><h3>Your Hero's Age is $newHero.getAge()</h3></p>
<p><h3>Your Hero's Power is $newHero.getPower()</h3></p>
<p><h3>Your Hero's Weakness is $newHero.getWeakness()</h3></p>
<h1>You have successfully added a hero</h1>
 <a href="/"> Go check them out</a>
 <a href="/heroes/new">Add another Hero</a>
 <a href="/heroes">All Heroes</a>
